.ant-layout {
  height: 100vh;
}
.app-layout {
  background: #F6F8FC;
  .app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 5;
    .header-left {
      display: flex;
      align-items: center;
      height: 60px;
      img {
        width: 40px;
        height: 40px;
      }
      .app-name {
        font-weight: 900;
        font-size: 16px;
      }
    }
  }

  .app-body {
    .meal-container {
      height: 100%;

      .search-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 10px;
        position: sticky;
        top: 64px;
        background: #F6F8FC;
        z-index: 3;

        .ant-input {
          width: 400px;
          min-width: 100px;
        }
      }

      .content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90%;

        .ant-spin-container {
          background: #F6F8FC;
        }
      }

      .meal-card {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    .back-arrow {
      padding: 10px 20px;
      position: sticky;
      top: 64px;
      z-index: 3;
      background: #F6F8FC;

      .anticon-arrow-left {
        padding: 10px;
        border-radius: 50%;
        border: 1px solid #eaeaea;

        &:hover {
          border: 1px solid rgba(0, 23, 105, .08);
        }
      }
    }

    .meal-details-container {
      height: 100%;
      .ant-spin-container {
        background: #F6F8FC;
        .meal-details-card {
          height: 100%;
          margin: 0 20px 20px 20px;

          .title {
            font-size: 16px;
            font-weight: 700;
          }

          .meal-image {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .ant-image {
            width: 300px;

            .meal-preview {
            }
          }

          .Ingredients-list {
            margin-right: 15px;
          }
        }
      }
    }

    .purchase-container {
      display: flex;
      height: 100%;
      width: 100%;

      .left {
        width: 50%;
        padding-left: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        .form {
          .ant-form {
            //width: 400px;
          }
        }
      }

      .right {
        width: 50%;
        display: flex;
        justify-content: center;

        img {
          height: 100%;
          width: 400px;
        }
      }
    }

    .steps {
      padding: 20px;

      .progress {
        .ant-steps-item-content {
          height: 75px;
        }

        .ant-steps-item-finish {
          .ant-steps-item-icon {
            background: #AFE90C;

            .anticon-check {
              color: black;
            }
          }

          .ant-steps-item-title::after {
            background-color: #AFE90C !important;
          }

          .ant-steps-item-container > .ant-steps-item-tail::after {
            background-color: #AFE90C !important;
          }
        }
      }
    }

    .order-content {
      background: #F6F8FC;
      .order-container {
        width: 100%;
        height: calc(100% - 200px);
        display: flex;
        align-items: center;
        justify-content: space-around;

        .left {
          padding: 20px;
        }

        .right {
          width: 50%;
          display: flex;
          justify-content: center;

          img {
            height: 100%;
            width: 400px;
          }
        }
      }
    }
  }
}

.justify-content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// To handle very small mobile devices
@media (max-width: 750px) {
  .search-bar {
    .ant-input {
      width: 200px !important;
    }
  }
  .purchase-container {
    background: #F6F8FC;
    .left {
      width: 100% !important;
      padding: 20px;
      .form {
        .ant-form {
          width: 100%;
        }
      }
    }
    .right {
      display: none !important;
    }
  }
}

@media (max-width: 720px) {
  .order-content {
    .left {
      width: 100% !important;
      padding: 20px;
    }
  }
}